@model AppTree.Domain.AggregateModels.ApplicationAggregate.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repository)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Repository" target="_blank">@Html.DisplayFor(model => model.Repository)</a>
        </dd>
    </dl>
    <hr/>
    
    <h4>Dependencies</h4>
    @foreach (var dependency in Model.Dependencies)
    {
        <dl class="row">
            <dd class="col-sm-5">@dependency.Application.Name</dd>
            <dd class="col-sm-5"><a href="@dependency.Application.Repository" target="_blank">@dependency.Application.Repository</a></dd>
        </dl>
    }
    
    <h4>Add Dependency</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateDependency">
                <input type="hidden" id="ParentApplicationId" name="ParentApplicationId" value="@Model.Id" />

                <div class="form-group">
                    <label title="Application" class="control-label"></label>
                    <select id="ApplicationId" name="ApplicationId" class="form-control" asp-items="ViewBag.ApplicationId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
